#root {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(194, 188, 188);
  justify-content: center;
  text-align: center;
} 

.dogs{
  border: solid black 2px;
  text-align: center;
  background-color: white;
  display: inline-block;
  padding: 10px;
  margin: 20px;
}

.image {
  width: 300px;
}

.name {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
